#main{
    position: relative;
}
#nome{
	margin: 2%;
	top:0%;
	left:10%;
	height:4%;
	font-size: 2vw;
}
#case{
	margin: 2%;
	top:0%;
	left:30%;
	height:4%;
	font-size: 2vw;
}
#dispenser{
	margin: 2%;
	top:0%;
	left:45%;
	height:4%;
	font-size: 2vw;
}

#slider {
	width: 81%;
	z-index: 1;
}
#navbar ul li{
	display: inline;

}
#navbar ul{
	margin: 0px;
}

#colors{
    position: fixed;
    right: 0px;
    height: 100%;
    width: 15%;
    background-color:#aaaaaa ;
    z-index: 10;
}

#case-bar{
	z-index: 11;
	position: absolute;
	top: 10px;
	display: none;
}

#dispenser-bar{
	z-index: 11;
	position: absolute;
	top: 45px;
	display: none;
}

#case-bar img{
	width: 120px;
	height: 25px;
}

#dispenser-bar img{
	width: 120px;
	height: 25px;
}

#change-case{
	text-align: center;
	width: 100%;
	font-size: 1.5vw;
}

#change-dispenser{
	text-align: center;
	width: 100%;
	font-size: 1.5vw;
}

#gui-button{
	position: fixed;
        z-index: 11;
        right: 2%;
		bottom: 5%;
		font-size: 2vw;
}
#buy-button{
		position: absolute;
		
		text-align: center;
		z-index: 11;
		width:10%;
		background-color: red;
		font-size: 2vw;
		color: white;
		border-color: black;
		border-width:2px;
		border-style:solid;
		right:0%
}

#prezzo{
	top:0%;
	left:65%;
	height:4%;
	margin: 2%;
	font-size: 1.5vw;
}
