#main{
    position: relative;
  
    
    width: 50%;
}

#slider {
	width: 81%;
	z-index: 1;
}

#colors{
    position: fixed;
    right: 0px;
    height: 100%;
    width: 15%;
    background-color:#aaaaaa ;
    z-index: 10;
}

#gui-button{
	position: fixed;
        z-index: 11;
        right: 2%;
        bottom: 5%;
}

#red{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:80px;
    width: 10%
}
#redMetal{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:130px;
    width: 10%
}
#green{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:180px;
    width: 10%
}
#blue{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:230px;
    width: 10%
}
#blueMetal{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:280px;
    width: 10%
}
#wood{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:330px;
    width: 10%
}
#metal{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:480px;
    width: 10%
}
#iron{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:530px;
    width: 10%
}
#aluminium{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:580px;
    width: 10%
}
#copper{
    border-style: solid;
    border-width: 2px;
    position:fixed;
    right: 25px;
    top:630px;
    width: 10%
}

#Secondario{
    position:fixed;
    top: 400px;
    right: 40px;
}

#Principale{
    position:fixed;
    right: 40px;
}

#logo{
    position:fixed;
left:0px;
top:0px;
z-index:1;
}

#redText{
    position:fixed;
    top: 40px;
    right: 50px;
}
#metalRedText{
    position:fixed;
    top: 90px;
    right: 50px;
}

#greenText{
    position:fixed;
    top: 140px;
    right: 40px;
}
#blueText{
    position:fixed;
    top: 190px;
    right: 45px;
}
#metalBlueText{
    position:fixed;
    top: 240px;
    right: 50px;
}
#woodText{
    position:fixed;
    top: 290px;
    right: 70px;
}
#metalText{
    position:fixed;
    top: 440px;
    right: 75px;
}
#ironText{
    position:fixed;
    top: 490px;
    right: 78px;
}
#aluminiumText{
    position:fixed;
    top: 540px;
    right: 55px;
}
#copperText{
    position:fixed;
    top: 590px;
    right: 63px;
}
