#main{
    position: relative;
}

#slider {
	width: 81%;
	z-index: 1;
}

#colors{
    position: fixed;
    right: 0px;
    height: 100%;
    width: 15%;
    background-color:#aaaaaa ;
    z-index: 10;
}

#case-bar{
	z-index: 11;
	position: absolute;
	top: 10px;
	display: none;
}

#dispenser-bar{
	z-index: 11;
	position: absolute;
	top: 45px;
	display: none;
}

#case-bar img{
	width: 120px;
	height: 25px;
}

#dispenser-bar img{
	width: 120px;
	height: 25px;
}

#change-case{
	text-align: center;
	width: 100%;
}

#change-dispenser{
	text-align: center;
	width: 100%;
}

#gui-button{
	position: fixed;
        z-index: 11;
        right: 2%;
        bottom: 5%;
}

#logo{
    position:fixed;
left:0px;
top:0px;
z-index:1;
}
